{% block head %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <h1>Testo Mesto</h1>

    <div class="buttons-container">
        <a href="{{ path('login') }}" class="button">/Ein</a>
        <a href="{{ path('register') }}" class="button">/Reg</a>
        <a href="{{ path('todo') }}" class="button">To-Do</a>
    </div>
{% endblock %}    
