.logo {
  max-width: 2.4rem;
  max-height: 2.4rem;
}

.rettung {
  text-align: center;
  gap: 1rem;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #e3e3e3;
  
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #191919;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Kanit', sans-serif;
  height: 2rem;
}

.navbar__brand {
  font-size: 1.6rem;
  font-family: 'Abril Fatface', cursive;
}

.navbar__links {
  display: flex;
  gap: 20px;
  padding-right: 2rem;
}

.navbar__links a {
  color: #fff;
  background-color: #2b79b0;
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.nav {
  background-color: #4caf50;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body {
  background-color: #373737;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #545252c9;
  border-radius: 5px;
  border: 2px solid #4a4747;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field input[type="text"],
.form-field input[type="date"],
.form-field input[type="checkbox"],
.form-field button[type="submit"] {
  display: block;
  width: 95%;
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-field input[type="checkbox"] {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-field button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
}

.form-field button[type="submit"]:hover {
  background-color: #45a049;
}

.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  gap: 16px;
}

.post {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #998d8d;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  border: 2px solid #2d2c2c;
  font-family: 'Cabin', sans-serif;
}

.post-field {
  padding: 10px;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  flex: 1;
  border-bottom: 1.5px solid #373737; 
}

.dat {
  font-size: 30px;
}

.post .pic img {
  min-width: 100px;
  min-height: 100px;
  max-width: 240px;
  max-height: 240px;
  display: block;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
